
body {
    font-family: 'Arial', sans-serif;
    background-color: yellow;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.display {
    font-size: 2em;
    margin-bottom: 10px;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.controls button:hover {
    background-color: #2980b9;
}

.laps {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.laps li {
    margin: 5px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
}

